[+before_widget+]
	<a href='[+promo_link+]' title='[+promo_title+]' target="_blank" /><figure><img src='[+content+]' alt='[+promo_alt+]' /><figcaption>[+promo_caption+]</figcaption></figure></a>
[+after_widget+]