/* Admin Styles */

.mce-section{
	margin: 2em 5em;
}

.mce-section .section-settings label{ font-weight: bold; text-align: left; display: block; padding: 1em; background: #eee; border: #ccc solid 1px; margin-bottom: 1.2em;}

.mce-section input[type=text], .mce-section textarea, .mce-section small{ width: 100%!important; font-weight: normal;}

.mce-section input[type=text].wide-input, .mce-section textarea{ display: block; width: 80%;}

input[type=button].sd-open-media{ margin-bottom: 1.2em;}