/*
Plugin Name: SD Package Settings Panel
Version: 1.1
Author: Saavedra Designs
Author URI: http://saavedradesigns.com/
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* =Repeatable patterns
-------------------------------------------------------------- */
/* General */
.float-catch, .left, .right, .promo-actions{ display: block;}
.float-catch, .promo-actions{ clear: both;}
.left{ float: left;}
.right{ float: right;}
a{ text-decoration: none;} 
a:hover{ text-decoration: underline;}
p.center{ text-align: center;}

/* Flash Messages */
.info{
	padding: .5em 1em;
	background-color: #dfebfb;
	color: #134688;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: #83ade7 solid 1px;}
.attn{
	padding: .5em 1em;
	background-color: #fffad0;
	color: #4f4d02;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: #eccd41 solid 1px;}

/* Form Fields */
#settings-column input[type=text], #settings-column textarea{ background: #fff url(../images/input-text.png) top left repeat-x; border: #aaa solid 1px; padding: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #555;}

#settings-column input[type=text].wide-input, #settings-column textarea{ display: block; width: 97%; margin-bottom: 15px;}
#settings-column textarea.wp-editor-area{ :;}
/* Images */

/* =Basic structure
-------------------------------------------------------------- */
/* Page Structure */
#sd-pckg{ width: 795px; margin: 2em 1em 1em 1em; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #555; line-height: 1.45em;}

/* Navigation Menu */
#nav-container, #nav-container a{ color: #fff;}
#nav-column{ width: 175px;}
#nav-container{
	background: #333; 
	min-height: 500px;
	margin-bottom: 1em;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border: #282828 solid 1px;
	background: rgba(69,68,68,1);
	background: -moz-linear-gradient(left, rgba(69,68,68,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(69,68,68,1)), color-stop(100%, rgba(40,40,40,1)));
	background: -webkit-linear-gradient(left, rgba(69,68,68,1) 0%, rgba(40,40,40,1) 100%);
	background: -o-linear-gradient(left, rgba(69,68,68,1) 0%, rgba(40,40,40,1) 100%);
	background: -ms-linear-gradient(left, rgba(69,68,68,1) 0%, rgba(40,40,40,1) 100%);
	background: linear-gradient(to right, rgba(69,68,68,1) 0%, rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454444', endColorstr='#282828', GradientType=1 );
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(138,138,138,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(138,138,138,1);
	box-shadow: inset 1px 1px 0px 0px rgba(138,138,138,1);}
#sd-pckg-nav a{ display: block; padding:.5em 1.5em .5em 1.95em; border-bottom: #2a2a2a solid 1px; border-top: #555 solid 1px; position: relative;}
#sd-pckg-nav li:first-child a{ border-top: none;}
#sd-pckg-nav a:hover{ background:#2a2a2a; text-decoration: none;}

#sd-pckg-nav .current{ background: #2a2a2a; font-weight: bold; color: #76b743!important;}
#sd-pckg-nav .current:before{ content:url(../images/nav-active-icon.jpg); position: absolute; left: 5px;}

/* Sidebar */
#nav-container .title{ 
	font-size: 25px; 
	text-transform: lowercase; 
	text-align: center; 
	padding-top: 1em; 
	margin: 0 0 .5em 0;}
#sd-credit{ text-align: center;}

/* Footer */
#settings-actions{ text-align: right;}

/* =Settings Content
-------------------------------------------------------------- */
/*#settings-column{ width: 620px;background: #dbf8d7 url(../images/settings-top-gradient.jpg) top left no-repeat;}
#settings-wrapper{ min-height: 780px; padding: 20px 22px; background:url(../images/settings-bottom-gradient.jpg) bottom left no-repeat;}*/
#settings-column{ 
	width: 574px; 
	min-height: 550px; 
	padding: 20px 22px; 
	background: #98c192 url(../images/mint-gradient.png) center center repeat-x;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(197,222,194,1);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(197,222,194,1);
	box-shadow: inset 1px 1px 0px 0px rgba(197,222,194,1);
	border-radius: 0px 10px 10px 10px;
	-moz-border-radius: 0px 10px 10px 10px;
	-webkit-border-radius: 0px 10px 10px 10px;
	border: 1px solid #7bbe73;}
#settings-wrapper{}

/*#settings-content{ background:url(../images/settings-top.jpg) top left no-repeat; margin-top: -3px; margin-bottom: 15px;}
#settings-wrap{ padding: 15px; background:url(../images/settings-bottom.jpg) bottom left no-repeat;}*/
#settings-content{ 
	margin-top: -3px; margin-bottom: 15px; 
	padding: 15px;
	background: #f6f6f6;
	border: #bbb solid 1px;}

#settings-content .settings-section{ background: #fff; border: #333 solid 1px; margin-bottom: 15px;}
#settings-content .settings-section:last-child{margin-bottom: 0px;}
#settings-content .settings-section .section-title, #settings-content .settings-section .section-content, #settings-content .settings-section .section-actions{ padding: 10px 15px;}
#settings-content .settings-section .section-title{ background: #2a2a2a url(../images/section-title-background.png) top left repeat-x; color: #fff;}
#settings-content .settings-section.half-section, .settings-section .half-section{ margin-right: 15px; width: 48%;}
#settings-content .settings-section.half-section.odd, .settings-section .half-section.odd{ float: left;}
#settings-content .settings-section.half-section.even, .settings-section .half-section.even{ float: right; margin-right: 0;}
.settings-section p{ margin-top: 1em;}.settings-section p:first-child{ margin-top: 0;}
.section-actions{ text-align: right!important;}
.setting-form p{ display:block; background: #eee; border: #ddd solid 1px; padding: 15px; position: relative; margin: 15px 0;}
.setting-form .thumbnail{ display: inline-block; width:22%; text-align: left; position: absolute; top: 15px; left: 15px;} 
.setting-form .thumbnail img{ width: 100%; height: auto;}
.setting-form .two-col{ display:inline-block; width:73%;}
.setting-form .section-settings label, img.thumbnail{ font-weight: bold; text-align: left; display: block;}
.setting-form .two-buttons button{ margin-right: 15px;}
#content_rotation_admin_options_form, #music_list_admin_options_form{ margin-top: 15px;}
.setting-form input[type=text], .setting-form textarea{ width: 100%!important; font-weight: normal;}
.section-content .break{ display: block;}
.section-content code{ background-color: transparent;}

/* = TinyMce
-------------------------------------------------------------- */
#settings-column textarea.wp-editor-area{ background: none; border: none; padding: 5px; -moz-border-radius: 0px; border-radius: 0px; color: #555;}
.wp-editor-wrap{ margin-bottom: 15px;}
.quicktags-toolbar { padding: 0; }
.wp-media-buttons .add_media{display: none!important;}


/* = Tabbing
-------------------------------------------------------------- */
#sd-content-2, #sd-content-3, #sd-content-4, #sd-content-5 { display:none;}

/*#settings-tabs #tabs li{ display: inline-block; background: url(../images/tab-left.png) top left no-repeat; padding: 5px 10px 5px 10px;}
#settings-tabs #tabs a{background:url(../images/tab-right.png) top right no-repeat; color: #2a2a2a;}
*/
#settings-tabs{
	position: relative;
	bottom: 2px;}

#settings-tabs #tabs {
    display: table;
    table-layout: fixed;
    text-align: center;
}
#settings-tabs #tabs li {
    display: table-cell;
    /*width: 20%;*/
    padding-right: 1px;
    height: auto;
    vertical-align: bottom;
}
#settings-tabs #tabs a {
    display: block;
    min-height: 100%;
    padding: .25em .5em;
    margin-right: 2px;
    background-color: #F6F6F6;
    color: #2A2A2A;
    border-radius: 6px 6px 0 0;
    border: solid 1px #bbb;
	
}


#settings-tabs #tabs .active{ 
	font-weight: bold;
	border-bottom: #f6f6f6 solid 1px;}

.section-content img{
	border: #ccc solid 1px;
	background-color: #eee;
	padding: .25em;}
	
.section-content table.sec-life{ width: 100%; border: #bbb solid 1px;}
.section-content table.sec-life th{ padding: 5px; font-weight: bold;}
.section-content table.sec-life .sec{ text-align: right; border-left: 1px dotted #bbb;}
.section-content table.sec-life tr{  border-bottom: 1px solid #bbb;}
.section-content table.sec-life tr:last-child{  border-bottom: none;}
.section-content table.sec-life td{ padding: 5px;}
.section-content table.sec-life .odd{ background: #eee;}
.section-content table.sec-life .even{ background: #ddd;}

.social-networking #social_media_admin_options_form p{
	padding: 1em;
	background: #f6f6f6;
	border: #bbb solid 1px;
	margin-bottom: 1em;
	position: relative;}
.social-networking #social_media_admin_options_form span.thumbnail{ 
	float: left; 
	width: 32px; 
	padding-top: 8px;
	margin-right: 15px;}
.social-networking #social_media_admin_options_form span.input{ 
	float: right; 
	width: 87%;  min-height: 35px;
	margin-right: 15px;
	padding-top: 10px;}
.social-networking #social_media_admin_options_form label{
	position: absolute;
	top: 0; right: -10000px;}
div#cms-guide form{ display: inline-block; }
div#cms-guide .section-actions{ width: 52%; margin: 0 auto;}